{% extends 'base.html' %}

{% block title %}
Animal Facts
{% endblock %}

{% block content %}
<h1>Animal Facts</h1>
<form action="/animal_facts" method="GET">
    <fieldset>
        <legend>Your Info:</legend>
        <p>Which animal do you want facts on?</p>
        {% for key in animal_to_fact %}
            <label>
                <input type="checkbox" name="animal" value="{{key}}">{{key}}
                <br>
            </label>
        {% endfor %}
        <br>
        <input type="submit" value="Get Fact!">
    </fieldset>
</form>

<!-- TODO: If an animal was chosen, show the section below with the appropriate 
    animal fact. -->

<section id="form_results">
    {% if animal_fact %}    
        <p>Your animal fact(s): </p>
        {% for item in animal_fact %}
            <p><em>{{item}}</em></p>
        {% endfor %}
    {% else %}
        <p>Choose animal(s)!</p>
    {% endif %}
</section>

{% endblock %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Grocery List
        </title>
    </head>
    <body>
        <form action="/cart" method="GET">
            {% for item in shopping_cart %}
                <label>
                    {{name}}
                    <input type="number" name="qty" value="{{qty}}">
                </label>
            {% endfor %}

            <input type="text" name="name">
            <input type="number" name="qty"> 
            <input type="submit" value="Submit">
        </form>
    </body>
</html>